
/*header {
	height: 400px;
	background-image: url('https://images.pexels.com/photos/162947/coffee-glass-beverage-coffee-mug-162947.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	.header-caption {
		padding: 0 20%;
	}*/
	/*h1 {
		margin: 0;
		font-size: 60px;
		color: #000;
		text-transform: uppercase;
	}
	p {
		font-size: 24px;
		color: #000;
	}
}*/


/*----------------*/

body {
    font-family: "Lato", sans-serif;
}

.floating-menu {
    font-family: sans-serif;
    background: rgba(255,255,255,0.3);
    padding: 5px;;
    width: 130px;
    z-index: 1;
    position: fixed;
  }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4  {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("/img/header.jpg");
  background-position: 50% -400px;
  padding-top: 300px;

}

.bgimg-2 {
  background-image: url("/img/5.png");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("/img/6.png");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("/img/7.png");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;

}

/*.caption span.*/
  .border {
  background-color: #f05f40;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  z-index: -40;

}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
